In [6]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("03_find_s.csv",delimiter=",")
df

   example citations    size inlibrary       price editions  buy
0        1      some   small        no  affordable     many   no
1        2      many     big        no   expensive      one  yes
2        3      some     big    always   expensive      few   no
3        4      many  medium        no   expensive     many  yes
4        5      many   small        no  affordable     many  yes

In [13]:
dataframe = {}
for i in df.columns:
    dataframe[i] = set(df[i])
dataframe

{'example': {1, 2, 3, 4, 5},
 'citations': {'many', 'some'},
 'size': {'big', 'medium', 'small'},
 'inlibrary': {'always', 'no'},
 'price': {'affordable', 'expensive'},
 'editions': {'few', 'many', 'one'},
 'buy': {'no', 'yes'}}

In [14]:
h = ["$"]*len(dataframe)
x = []
# def 
for index,row in df.iterrows():
    if row[-1]=="yes":
        x = row
        for val in range(1,len(row)):
            if h[val]=="$":
                h[val] = x[val]
            elif h[val]!=x[val]:
                h[val] = "?"
    print(h[1:-1])
#     if h[1]=="many":
#         print("Book ")

['$', '$', '$', '$', '$']
['many', 'big', 'no', 'expensive', 'one']
['many', 'big', 'no', 'expensive', 'one']
['many', '?', 'no', 'expensive', '?']
['many', '?', 'no', '?', '?']